[submodule "components/mist_messages"]
	path = components/mist_messages
	url = git@github.com:liy/mist_messages.git
[submodule "components/mist_comm"]
	path = components/mist_comm
	url = git@github.com:liy/mist_comm.git
[submodule "components/mist_wireless"]
	path = components/mist_wireless
	url = git@github.com:liy/mist_wireless.git
